.breadcrumbs {
  margin: 2rem auto;
  font-size: 1.25rem;
}

.breadcrumbs ol.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.breadcrumbs li {
  color: var(--primary);
  display: flex;
  align-items: center;
}

.breadcrumbs li:not(:last-child)::after {
  content: "›";
  margin-left: 0.5rem;
  font-size: 1.1em;
  font-weight: bold;
}

.breadcrumbs a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs li[aria-current="page"] {
  font-weight: 500;
}

/* @media (max-width: 768px) {
  .breadcrumb {
    font-size: 0.8rem;
  }
  
  .breadcrumb ol {
    gap: 0.3rem;
  }
  
  .breadcrumb li:not(:last-child)::after {
    margin-left: 0.3rem;
  }
} */